@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

*, *::after, *::before {
    font-family: 'PT Mono', monospace;
}

.container {
    margin-top:10rem;
}

.project-image {
    max-width: 100%;
    width:60rem;
}

.project-rule {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-header {
    text-align: center;
    margin-top:5rem;
    font-weight: bold;
}