.section-header {
    font-size: 6.5vw;
    font-weight: bold;
    text-align: center;
    margin-top:10rem;
}

.dark-mode .section-header {
    color:white;
}

@media (min-width: 550px) {
    .section-header {
        font-size: 3.3rem;
    }
}