@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

*, *::after, *::before {
    box-sizing:border-box;
}

.container {
    position:relative;
    min-height:98vh;
    padding:0px;
    font-family: 'Lexend Deca', sans-serif;
}

.section-header {
    font-size: 6.5vw;
    font-weight: bold;
}

@media (min-width: 550px) {
    .section-header {
        font-size: 3.6rem;
    }
}

.main-section {
    padding-top:10rem;
    padding-bottom:4rem; /* footer clearance */
    padding-left:10px;
    padding-right:10px;
    font-family: 'Lexend Deca', sans-serif;
}

.footer-section {
    position: absolute;
    padding:0px;
    bottom: 0;
    width: 100%;
    height: 2rem; /* Footer height */
    text-align: center;
}

.footer-link {
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}