.personal-header {
    font-size:7vw;
    font-weight: bold;
}

@media (min-width: 550px) {
    .personal-header {
        font-size: 3.6rem;
    }
}

.personal-link {
    font-weight: bold;
    text-decoration: none;
}

.personal-link:hover {
    text-decoration: underline;
}

.personal-links {
    text-align: center;
}