.projects {
    margin-top:2.5rem;
}

.project-image {
    max-width: 100%;
    width:60rem;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
}

.project-rule {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-header {
    font-weight: bold;
    font-size:6vw;
}

@media (min-width: 550px) {
    .project-header {
        font-size: 3.0rem;
    }
}

.project-links {
    margin:auto;
}

.project-link {
    font-weight: bold;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-links {
    text-align: center;
}