@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

*, *::after, *::before {
    font-family: 'PT Mono', monospace;
}

.name-header {
    font-size:7vw;
    font-weight: bold;
}

@media (min-width: 550px) {
    .name-header {
        font-size: 3.6rem;
    }
}

.container {
    margin-top:10rem;
}

.project-image {
    max-width: 100%;
    width:60rem;
    border-radius: 2rem;
    border: 1px solid #E1E1E1;
}

.project-rule {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-header {
    /* text-align: center; */
    margin-top:4rem;
    font-weight: bold;
}

.project-link {
    font-weight: bold;
}

.project-links {
    text-align: center;
}

.personal-link {
    font-weight: bold;
}

.personal-links {
    text-align: center;
}