.tools {
    margin-top:4rem;
}

.tools-rule {
    margin-top: 0px;
    margin-bottom:0px;
}

.tool-link {
    font-weight: bold;
    text-decoration: none;
}

.tool-link:hover {
    text-decoration: underline;
}