.tools {
    margin-top:4rem;
}

.tool-listing {
    text-align:center;
}

@media (min-width: 550px) {
    .tool-listing {
        text-align:left;
    }
}

.github-column {
    text-align: center;
}

.tool-rule {
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}

.tool-link {
    text-decoration: none;
}

.tool-link:hover {
    text-decoration: underline;
}

.tool-link.main-link {
    font-weight: bold;
    font-size: larger;
}